@import "tailwindcss";

@layer base {
  body {
    font-family: var(--font-primary);
  }
}

@layer utilities {
  .font-primary {
    font-family: var(--font-primary);
  }

  .font-secondary {
    font-family: var(--font-secondary);
  }
}

